jupyter==1.0.0
numpy>=1.15.1
pandas>=0.25.0
scipy>=1.1.0

#Charts
matplotlib>=2.2.3

# Machine learning
scikit-image>=0.14.0
scikit-learn>=0.21.3

# Image
imageio==2.8.0
opencv-python==3.4.7.28
image-quality>=1.0.0
libsvm>=3.23.0
